
.loginForm {
  max-width: 500px;
  max-height: 1000px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f5ff; 
}

.login-form {
  display: flex;
  flex-direction: column;

}
.namel{
  font-size: 30px;
  margin: 0 auto;
}

.login-form h3 {
  margin-bottom: 20px;
  color: #1890ff; 
text-align: left;
  
}

.site-form-item-icon {
  color: #1890ff; 
}

.site-form-item-icon svg {
  font-size: 16px;
}

.forget-password {
  color: #1890ff; 
  cursor: pointer;
  text-align: center;
}

.forget-password:hover {
  text-decoration: underline;
}

.login-form-button {
  width: 100%;
  background-color: #1890ff; 
  border: none;
}

.login-form-button:hover {
  background-color: #40a9ff; 
  border: none;
}

.register-link {
  color: #1890ff; 
}

.register-link:hover {
  text-decoration: underline;
}

