.customerProfile_Top {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f5ff; /* Light blue background */
}

.customerProfile {
  text-align: center;
}

.customerProfile h3 {
  color: #1890ff; /* Blue text */
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-details-table {
  margin-bottom: 20px;
}

.user-details-table table {
  width: 100%;
}

.user-details-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.sub1515 {
  width: 100px;
  text-decoration-color:white;
    background-color: #1890ff; /* Blue button */
  border: none;
}

.sub1515:hover {
  background-color: #40a9ff; /* Lighter blue on hover */
}

.nic {
  margin-bottom: 20px;
}

.input-item {
  margin-bottom: 20px;
}

.input-item-active {
  border-color: #1890ff; /* Blue border color */
}

