.Registercontainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f5ff; /* Light blue background */
}

.ren{
  font-size: 30px;
  margin: 0 auto;
}

.register-main-box {
  text-align: center; /* Center align the content */
}

.register-main-box h2 {
  margin-bottom: 20px;
  color: #1890ff; /* Blue text */
}

.login-form {
  display: flex;
  flex-direction: column;
}

.site-form-item-icon {
  color: #1890ff; /* Blue icon color */
}

.site-form-item-icon svg {
  font-size: 16px;
}

.sub123 {
  width: 50%;
  background-color: #1890ff; /* Blue button */
}

.sub123:hover {
  background-color: #40a9ff; /* Lighter blue on hover */
  border: none;
}

.log-link {
  padding: 50px;
  color: #1890ff; /* Blue text for login link */
}

.log-link:hover {
  text-decoration: underline;
}

.login-register{
  padding: 20px;
}
