.star-input {
    display: none;
  } 
  
  .star {
    cursor: pointer;
    transition: color 200ms;
  }
  
  
  .revtextarea {
    width: 50%;
    height: 100px;
    resize: none;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .revsubmit {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 200ms;
  }

  .revalert-message {
    color: red;
    
  }

  .feedback-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedback-container h2 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
  }
  