#printOrderFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }

/*PrintDocRead*/
#formRead {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }

  .logoRead_D{
    width: 20%;
    margin-left: 560px;
  }

  .TopicRead {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Bahnschrift'
  }

  .tbleRead_D {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tbleRead_D td {
    padding: 8px;
    font-size: 18px;
  }
  
  .tbleRead_D tr:last-child td {
    border-bottom: none;
  }

  .button-container_D {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .btnUpdate_D,
  .btnDelete_D {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnUpdate_D:hover,
  .btnDelete_D:hover {
    background-color: #0056b3;
  }

  /*Update CSS*/
  #formUpdate_D {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }

  .TopicUpdate_D {
    text-align: center;
    color: #333;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Bahnschrift'
  }

  /*PayNow CSS*/
  #formPayNow_D {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #e0f2fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }

  .Topicpay_D {
    text-align: center;
    color: #333;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Bahnschrift'
  }

  .logo_D{
    width: 20%;
    margin-left: 370px;
  }

  .tblePay_D {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tblePay_D td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .firstdata_D {
    font-weight: bold;
  }
  
  .tblePay_D tr:last-child td {
    border-bottom: none;
  }

  .btnPayNow_D {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnPayNow_D:hover {
    background-color: #0056b3;
  }