#form1 {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
  
  .Allpapertop {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bahnschrift';
  }

  /*All printing orders topic*/
  .AllprintTop {
    margin-top: 60px;
    text-align: center;
    color: #333;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bahnschrift';
  }

  .mainTopic {
    text-align: center;
    color: #333;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Bahnschrift'
  }
  
  .subtopics {
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .btn1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn1:hover {
    background-color: #0056b3;
  }

  /* Admin's view Action update,delete */
  .btnAction {
    color: #007bff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: monospace;
  }
  
  .btnAction:hover {
    background-color: #0056b3;
  }

  /* Add new paper */
  .btnadd {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 190px;
  }
  
  .btnadd:hover {
    background-color: #0056b3;
  }

    /* Generate Report */
    .btngeneraterep_D {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 13px;
      margin-bottom: 20px;
      margin-left: 1085px;
    }
    
    .btngeneraterep_D:hover {
      background-color: #0056b3;
    }

  /* Button to view user's view table */
  .btnviewuser {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 660px;
  }
  
  .btnviewuser:hover {
    background-color: #0056b3;
  }

  .box{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  