.product-container1 {
    display: flex;
    background-color: #E5E7EB;
    padding: 1rem;
    margin: 1rem;
  }
  
  .product-image {
    flex: none; /* Do not allow the image to grow or shrink */
    width: 600px; /* Set fixed width for the image */
    height: 600px; /* Set fixed height for the image */
    margin-right: 1rem; /* Add space between the image and details */
    border: 2px solid #D1D5DB; /* Add border around the image */
    box-sizing: border-box; /* Ensure border width is included in width calculation */
    margin: 20px;
  }
 


  .product-image img {
    width: 600px; /* Set the width */
    height: 500px; /* Set the height */
    object-fit: cover; /* Ensure the image covers the container */
  }

  /* Media queries for responsive design */
  @media (min-width: 640px) {
    .product-image {
      width: 80px;
      height: 80px;
    }
  }
  
  @media (min-width: 768px) {
    .product-image {
      width: 120px;
      height: 120px;
    }
  }
  
  @media (min-width: 1024px) {
    .product-image {
      width: 600px;
      height: 510px;
    }
  }
  
  
  
  .product-detailss {
    margin-left: 15rem;
    margin-right: 1rem;
    max-width: 100%;

  }
  
  .product-name {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .product-description {
    font-size: 1.5rem;
    color: #4B5563;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .product-price {
    font-size: 2rem;
    font-weight: bold;
    color: #3B82F6;
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .product-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-button {
    padding: 0.25rem 0.5rem;
    background-color: #EDF2F7;
    border-radius: 0.25rem;
  }
  
  .quantity-input {
    width: 5rem;
    height: 2rem;
    text-align: center;
    border: 2px solid #E5E7EB;
    border-radius: 0.25rem;
  }
  
  .add-to-cart-button {
    width: 10rem;
    height: 2.5rem;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }
  
  .add-to-cart-text {
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .cart-icon {
    margin-right: 0.8rem;
    margin-left: 0.5rem;
  }
  
  .stock-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .stock-indicator {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #34D399;
    border-radius: 50%;
    margin-right: 0.25rem;
  }
  
  .stock-text {
    font-size: 1rem;
  }
  